/* Funding */
:root {
    --common-red: #f44336;
    --text-color: #686868;
    --section-dark: #30475E;
    --section-light: #fafafa;
    --text-color-light: #e3e3e3;
}

p {
    font-size: 18px;
    line-height: 2;
    color: var(--text-color);
}

html {
    background-color: var(--section-light);
}

.sub-header {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../images/funding_banner.webp);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.funding-body-col {
    flex-basis: 49%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.funding-row {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background: var(--section-dark);
    padding-top: 30px;
    padding-bottom: 30px;
}

.funding-row p {
    color: var(--text-color-light)
}