/* Philosophy */
:root {
    --common-red: #f44336;
    --text-color: #686868;
    --section-dark: #30475E;
    --section-light: #fafafa;
    --text-color-light: #e3e3e3;
}

p {
    font-size: 18px;
    line-height: 2;
    color: var(--text-color)
}

h1 {}

html {
    background-color: var(--section-light);
}

.sub-header {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../images/philosophy_banner.webp);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

/* Intro Section */

.philosophy-intro {
    width: 80%;
    margin: 80px auto 0px;
    text-align: center;
}

.philosophy-intro p {
    font-size: 18px;
}

.horizontal-line {
    width: 80%;
    margin: 30px auto;
    height: 2px;
    background-color: var(--section-dark);
}

/* Body Section */

.philosophy-body {
    width: 80%;
    margin: auto;
}

.philosophy-body p {
    font-size: 18px;
}

.philosophy-body .row {
    margin-top: 0;
}

.philosophy-body-col {
    flex-basis: 49%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.philosophy-body-col ul {
    color: var(--text-color);
}

.philosophy-body-col .row {
    flex-direction: column;
}

.philosophy-body-col .row p {
    background: var(--section-dark);
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    color: var(--text-color-light);
}