/* Wellness Center */
:root {
    --common-red: #f44336;
    --text-color: #686868;
    --section-dark: #30475E;
    --section-light: #fafafa;
    --text-color-light: #e3e3e3;
}

p {
    font-size: 18px;
    line-height: 2;
    color: var(--text-color);
}

html {
    background-color: var(--section-light);
}

.sub-header {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../images/wellness_center_banner.webp);
    background-position: bottom -400px right;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.wellness-body-col {
    flex-basis: 49%;
    border-radius: 10px;
    margin-bottom: 15px;
    text-align: left;
    background: var(--section-dark);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    margin-top: 15px;
}

.wellness-body-col p {
    padding: 30px;
    color: var(--text-color-light);
}